<h1>Burgers To Eat</h1>

<h3>Enter a burger you want to eat</h3>

<form action="/" method="POST">
  <textarea type="text" name="burger_name"></textarea>
  <button type="submit">Submit</button>
</form>

<ul>
  {{#each burgers}}
    <li>
      <form action="/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Delete</button>
        <p>Burger Name: {{this.burger_name}}</p>
        <button type="submit">Devour</button>
      </form>
    </li>
  {{/each}}
</ul>i